#ab-clock {
	z-index: 20;
	position: absolute;
	width: 240px;
	height: 80px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto auto auto;
	background-color: @ab-background;
	color: #fff;
	border-radius: 5px;

	> time > span {
		color: #fff;
	}
	
	>.time, >.date-week {
		display: block;
		text-align: center;
		height: 40px;
		line-height: 40px;
	}
	
	.time > .separator {
		@keyframes sepa {
			from {
				opacity: 1;
			}
			to {
				opacity: 0;
			}
		}
		
		animation: sepa 1s infinite;
	}
}